<div class="comments_container">
<h1><%= @article.title %></h1>

<%= form_for [@article, @comment] do |f| %>
	<%= f.label :content, 'Comment' %>
	<%= f.text_area :content, :size => "70x7" %><br>
	<%= f.submit value="Submit Comment" %>
<% end %>

<div class="comments">
<% @comments.each do |comment| %>
<div class="comment">
		<div class="comment_head">
			<%= comment.user.email %> |
			<%=link_to 'upvote', article_comment_votes_path(@article, comment, vote: @vote, direction: true), method: :post %> |
			<%=link_to 'downvote', article_comment_votes_path(@article, comment, vote: @vote, direction: false), method: :post %>
		</div>
		<div class="comment_content">
			<%= comment.content %>
		</div>
		<div class="points">
			<%= find_comment_points(comment) %> points
		</div>

<% end %>
</div>
<br><br>
<%= link_to 'Back to Articles', articles_path %>
</div>
</div>
