<h1>Hacker News</h1>
<%= link_to 'Submit', new_article_path %>
<ol>
<% @articles.each do | article | %>
	<li><a href="<%= article.url %>"><%= article.title %></a> (<%= article.url.gsub("http://", "").split("/")[0] %>)
	<%= link_to 'comment', [article, :comments] %> | <%=link_to 'upvote', article_votes_path(article, vote: @vote, direction: true), method: :post %> |
	<%=link_to 'downvote', article_votes_path(article, vote: @vote, direction: false), method: :post %><br>
	Upvotes: <%= article.votes.where(direction: true).count %> | Downvotes: <%= article.votes.where(direction: false).count %>
	</li>
<% end %>
</ol>
